
# String

 - Creating a string
 - Indexing
 - Slicing
 - Properties
 - Methods
 - Print formatting

# Creating a string

In [1]:
print('hello')
print("Hello world")
print('''Welcome''')

hello
Hello world
Welcome

In [2]:
a = 'Hello'
b='123'# a = 10
type(a), type(b)# calling the variable

(str, str)

In [3]:
print(type(a))
print(len(a)) 
len('Hello world') # Len considers space as a character

<class 'str'>
5

11

# Indexing

In [4]:
d='dumb_o'
d[4]

'_'

In [5]:
# In python the index starts from 0

a = 'string 123'
len(a)

# While moving reverse the index starts from -1
# -10  -9   -8  -7   -6  -5   -4   -3   -2   -1
# s    t    r    i    n    g       1    2    3 
# 0    1    2    3    4    5   6   7    8    9
# While moving forward the index starts from 0

10

In [6]:
s = 'hello world'
# variable_name[index]
s[0]

# -11 -10 -9 -8 -7 -6 -5 -4 -3  -2  -1 
#  h  e   l  l  o     w  o  r   l   d
#  0  1   2  3  4  5  6  7  8   9   10

'h'

In [7]:
s[0],s[-11]

('h', 'h')

In [8]:
s[-1], s[10]

('d', 'd')

# Slicing

In [9]:
s

'hello world'

In [10]:
# variable_name[start_index : end_index]

s[:]

'hello world'

In [11]:
s[0:]

'hello world'

In [12]:
# -11 -10 -9 -8 -7 -6 -5 -4 -3  -2  -1 
#  h  e   l  l  o     w  o  r   l   d
#  0  1   2  3  4  5  6  7  8   9   10

In [13]:
s[:10] # end_index - 1 = 10 - 1 = 9. Till 9th index the value will be taken
# By default the start index will be 0

'hello worl'

In [14]:
s[:-1] #end_index - 1

'hello worl'

In [15]:
s[3:8] #end_index - 1

'lo wo'

In [16]:
# variable_name[index] ---> Indexing
# variable_name[start_index : end_index] ---> Slicing

# Properties

In [20]:
10, '10'

(10, '10')

In [21]:
10, str(10) # coverting int to string

(10, '10')

In [24]:
#Assignment Q 19
s8='Welcome '
print(3*s8)
print(s8*3) # self-concatenation-->eitherways it is fine, note that there is a gap after last 'e'

Welcome Welcome Welcome
Welcome Welcome Welcome

# Methods

In [26]:
a = 'Hello WORLD'
# variable_name.tab_buttom-> to get to know the methods available for any variable, to get to know what those methods do,
# var_name.method?
a.upper()

'HELLO WORLD'

In [27]:
a.capitalize?

In [28]:
print(a)
a.capitalize()

Hello WORLD

'Hello world'

In [29]:
print(a)
a.title()

Hello WORLD

'Hello World'

In [6]:
print(a)
a = a.upper() # Reassignment
a

Hello

'HELLO'

In [7]:
print(a.isupper())
print(a.lower())
# after reassignment

True
hello

In [9]:
print(a)
a.count('O')

HELLO

1

In [33]:
print(a)
a.spli()

HELLO WORLD

['HELLO', 'WORLD']

In [34]:
s='Hello W orld'
s.split()
#therefore, it splits at every space, not exactly every word

['Hello', 'W', 'orld']

In [35]:
print(a)
a.split('O')
# ['Hell',' w', 'rld']

HELLO WORLD

['HELL', ' W', 'RLD']

In [10]:
a = '1234a'
print(type(a))
print(a.isdigit()) # If a method starts with 'is', it returns only True or False
print(a.isalpha()) # alpha is alphabets
print(a.isalnum()) # alnum is alphabet and number combination
print(a.endswith('a')) #also gives a boolean output, even though 'is' isnt there in method name
                       #similarly for startswith

<class 'str'>
False
False
True
True

In [37]:
f='The quick brown fox jumps over the lazy dog'
print(f.endswith('lazy dog',35)) #we are mentioning the indexnum from which it has to start search
print(f.endswith('lazy dog',36))
print(len(f))
print(f.startswith('fox',20))
print(f.startswith('fox',16))

True
False
43
False
True

In [60]:
#Assignment Q 21
first_name=input("Enter your first name:")
last_name=input("Enter your last name:")
name=last_name+' '+first_name
print(f"Your name is : {name}") #use of formatting too!
# if we just wanted to print out the last_name +space+ first_name, we could have writtern it
# directly in the print statement, but here, it is a bit more pleasing to see the code

Enter your first name:hdahad
Enter your last name:sfadga
Your name is : sfadga hdahad

# More Methods

1. join() for strings
The join() method returns a string by joining all the elements of a string,list or tuple(mostly for lists and tuples because strings can be directly concetenated.

In [11]:
MyList=['Python', 'is a', 'pgm lang']
' '.join(MyList)
#remember the syntax, the '' b4 .join is called as the separator, here it is the space separator
#just note that the required order has to be in the list

'Python is a pgm lang'

In [1]:
MyList1=['1','2','3','4']
','.join(MyList1)
#same thing with tuples
#role of the separator variable viz the ',' -->every item in the list is separated by comma

'1,2,3,4'

In [43]:
s1='123'
s2='abc'
# if we want each element of s2 to be separated by s1
s1.join(s2)
#interpreted as->in s2, join s1

'a123b123c'

In [44]:
# if we want each element of s1 to be separated by s2
s2.join(s1)

'1abc2abc3'

In [45]:
# replace method (doesn't change original string)
s3='Python is a good pgm lang'
print(s3.replace('Python','Java'))
#Assignment Q 16
s4='Sally sells sea shells by the sea shore'
print(s4.replace('sea','mountain'))
print(s4.replace('sea','mountain',1)) # stringname.replace('old','new',count)
print(s4)

Java is a good pgm lang
Sally sells mountain shells by the mountain shore
Sally sells mountain shells by the sea shore
Sally sells sea shells by the sea shore

In [3]:
s5='      Birthday  Treat     '
print(s5.lstrip()) # all left whitespaces only
print(s5.rstrip()) # all right whitespaces only
print(s5.strip())  # left and right whitespaces, not middle
# print(s5=s5.replace(' ','') ) --> throws an error," 's5' is an invalid keyword argument for
#                                                      print()"
# print(s5.replace('y','y ')) useful only if we already know the word
# otherwise, stripping needs to be done, because replace would remove the gapps in between 
#the word too

Birthday  Treat
      Birthday  Treat
Birthday  Treat

In [65]:
s6='This is good'
print(s6.rstrip('ood'))
print(s6.rstrip('s go')) 
# we have mentioned rstrip but aren't giving any continuous
# trailing characters, hence no stripping is done, similarly for lstrip

This is g
This is good

In [18]:
s7='out is outstanding  '
print(s7.strip('out')) #only leading one is stripped
print(s7.strip())

 is outstanding
out is outstanding

# Print Formatting

In [73]:
v=input("Enter your name: ")
age=int(input("Enter your age: "))
# a = input('Enter a name: ')
# string formatiing using the str_name.format() method
print("My name is {} and my age is {}".format(v, age)) # note how the first {} correspinds to 
# first var inside .format()

Enter your name: Veer
Enter your age: 18
My name is Veer and my age is 18

In [51]:
# 2nd method to do string formatting is using f-string--> more elegant!
print(f"My name is {v} and my age is {age}")

My name is Veer and my age is 18