# List

In [1]:
a = [1,2,3,50.55,55.55,'Hello', 'World']
print(type(a))
print(len(a))
print(a)

<class 'list'>
7
[1, 2, 3, 50.55, 55.55, 'Hello', 'World']

In [2]:
a[0], a[-1]

(1, 'World')

In [3]:
a[0:5]

[1, 2, 3, 50.55, 55.55]

In [4]:
a

[1, 2, 3, 50.55, 55.55, 'Hello', 'World']

In [5]:
a[-1].upper() #functions are used with .func_name because a is an object

'WORLD'

In [6]:
print(a)
a[-1] = a[-1].upper() # MUTABLE
a[0] = 20 # MUTABLE
a

[1, 2, 3, 50.55, 55.55, 'Hello', 'World']

[20, 2, 3, 50.55, 55.55, 'Hello', 'WORLD']

In [7]:
print(a)
a.append(10) # to add values to the existing list
a

[20, 2, 3, 50.55, 55.55, 'Hello', 'WORLD']

[20, 2, 3, 50.55, 55.55, 'Hello', 'WORLD', 10]

In [8]:
print(a)
# a.append(10,20,1,2,3,5)--> throws an error because listname_append.() takes only 1 value
a.append([10,20,1,2,3,5]) # --> output appears as a nested list, if we dont want a nested list
a                         #then use the extend() method

[20, 2, 3, 50.55, 55.55, 'Hello', 'WORLD', 10]

[20, 2, 3, 50.55, 55.55, 'Hello', 'WORLD', 10, [10, 20, 1, 2, 3, 5]]

In [9]:
a[-1]

[10, 20, 1, 2, 3, 5]

In [18]:
a = [1,2,3,4,5]
print(a)
a.extend([10,20,30,40,50,60]) # output appears as a normal list itself, hence it adds 
a                             # these values separated by comma itself

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60]

In [19]:
str1=['1','2','3','4']
str2=['2','4','6','8']
str1.extend(str2) # another way of using extend()
print(str1) #eventhough 2,4 is already covered, it would get repeated

['1', '2', '3', '4', '2', '4', '6', '8']

In [20]:
print(a)
a.pop() # It will delete the last index
a

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60]

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [21]:
print(a)
a.pop(1) #index
a

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

[1, 3, 4, 5, 10, 20, 30, 40, 50]

In [22]:
print(a)
a.insert(5,55) # to a particular index it will insert a value
a

[1, 3, 4, 5, 10, 20, 30, 40, 50]

[1, 3, 4, 5, 10, 55, 20, 30, 40, 50]

In [23]:
print(a)
a.remove(40) # Value shd be mentioned in the (), permanent
a

[1, 3, 4, 5, 10, 55, 20, 30, 40, 50]

[1, 3, 4, 5, 10, 55, 20, 30, 50]

In [25]:
print(a)
a.count(10) , a.count('a') # value

[1, 3, 4, 5, 10, 55, 20, 30, 50]

(1, 0)

In [17]:
print(a)
a.index(20) # value

[1, 3, 4, 5, 10, 55, 20, 30, 50]

6

In [18]:
b = a.copy()
b, a

([1, 3, 4, 5, 10, 55, 20, 30, 50], [1, 3, 4, 5, 10, 55, 20, 30, 50])

In [19]:
print(a)
a.clear() #permamnent, because lists are mutable
a

[1, 3, 4, 5, 10, 55, 20, 30, 50]

[]

In [27]:
a = [1,4,3,2,4,6,8,2,2,10]
a.sort(reverse= False) # ascending order, even without reverse=True, it gives A/O as default o/p
a

[1, 2, 2, 2, 3, 4, 4, 6, 8, 10]

In [28]:
a.sort(reverse =True) # descending order
a

[10, 8, 6, 4, 4, 3, 2, 2, 2, 1]

In [22]:
a = [1,2,65,98,12]
a.reverse() 
a

[12, 98, 65, 2, 1]

In [23]:
s1=[23,35,21,1,7]
s1.reverse()
print(s1) # print(s1.reverse()) doesnt work

[7, 1, 21, 35, 23]

In [24]:
s1.sort(reverse=True)
s1

[35, 23, 21, 7, 1]

In [25]:
test=[12,14,15]
sum(test)

41

In [26]:
#to remove a portion of list-> use del
del a[1:5]
a

[1, 55, 20, 30, 50]

In [29]:
print(max(a))
print(min(a))

10
1

# Nested List

In [26]:
a = [1,2,3]
b = [3,4,5]
c = [a,b]
c

[[1, 2, 3], [3, 4, 5]]

In [27]:
print(c)
print(type(c))
c[0]

[[1, 2, 3], [3, 4, 5]]
<class 'list'>

[1, 2, 3]

In [28]:
print(c)
print(c[0])
c[0][2]

[[1, 2, 3], [3, 4, 5]]
[1, 2, 3]

3

In [29]:
c[0][0:-1]

[1, 2]

In [30]:
c[0]

[1, 2, 3]

In [31]:
c[0].append(10)
c

[[1, 2, 3, 10], [3, 4, 5]]

In [32]:
c[1].count(3) #hence, the 3 inside is also considered

1

In [33]:
c[0].insert(0,3242)
c

[[3242, 1, 2, 3, 10], [3, 4, 5]]

In [34]:
# 1. Create a list with certain values
# 2. Append 10 to the created lists
# 3. Delete the last value in the list
# 4. Delete the 4th index in the list
# 5. Add ['what', 'is', 'your', 'name'] to the list
# 6. Access the 5th index in the list
# 7. Access the last index in the list
# 8. Create a list with multiple values and reverse it using REVERSE function

# ICS Class #

In [12]:
# properties- ordered, indexable, mutable, heterogeneous dtpye in one collection
nums=[] #empty values
nums=[25,12,36,95,14,25,30]
print(nums[1])
print(nums[-6]) # prints it out as a list
print(nums[1:4]) #slicing, no need to loop, nums[4] isn't included, upto 4
print(nums[-7:])
name=['Veera','IITJ','Sachin']
print(name[-3])

12
12
[12, 36, 95]
[25, 12, 36, 95, 14, 25, 30]
Veera

In [17]:
#nested list
num1=[nums,nums]
num1[-2][5]

25