# Dictionary

In [23]:
# {},key-value pair
# {'Key' : 'Value', 'Key1' : 'Value1'}
# Keys should be unique and immutable
d = {'a' : 1, 'b' : 10.55, 'c' : 'Hello', 'd' : [1,2,3,4]}
print(d)
#variable_name[key], data can be accessed only using keys
d['a'], d['d']

{'a': 1, 'b': 10.55, 'c': 'Hello', 'd': [1, 2, 3, 4]}

(1, [1, 2, 3, 4])

In [24]:
print(d)
d['a'] = d['a'] * 10 # 1 * 10
d

{'a': 1, 'b': 10.55, 'c': 'Hello', 'd': [1, 2, 3, 4]}

{'a': 10, 'b': 10.55, 'c': 'Hello', 'd': [1, 2, 3, 4]}

In [25]:
print(d)
d['c'] = d['c'].upper()
d

{'a': 10, 'b': 10.55, 'c': 'Hello', 'd': [1, 2, 3, 4]}

{'a': 10, 'b': 10.55, 'c': 'HELLO', 'd': [1, 2, 3, 4]}

In [26]:
print(d)
d['d'].append(10)
d

{'a': 10, 'b': 10.55, 'c': 'HELLO', 'd': [1, 2, 3, 4]}

{'a': 10, 'b': 10.55, 'c': 'HELLO', 'd': [1, 2, 3, 4, 10]}

In [27]:
d = {}
print(d)
print(type(d))

#variable_name[key] = value
d['a'] = 10
d['b'] = 'Hello'
d['c'] = ['Dog','Cat']
d

{}
<class 'dict'>

{'a': 10, 'b': 'Hello', 'c': ['Dog', 'Cat']}

In [28]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [29]:
d.values()

dict_values([10, 'Hello', ['Dog', 'Cat']])

In [30]:
d.items()

dict_items([('a', 10), ('b', 'Hello'), ('c', ['Dog', 'Cat'])])

In [31]:
print(d)
d.pop('a') # key
d

{'a': 10, 'b': 'Hello', 'c': ['Dog', 'Cat']}

{'b': 'Hello', 'c': ['Dog', 'Cat']}

In [32]:
print(d)
d.popitem()
d

{'b': 'Hello', 'c': ['Dog', 'Cat']}

{'b': 'Hello'}

In [33]:
# d['b'] = 20
# d['c'] = 'Hello'
print(d)
d.update(b= 20, c= 'Hello')
d

{'b': 'Hello'}

{'b': 20, 'c': 'Hello'}

In [34]:
print(d)
# d['b']
d.get('b')

{'b': 20, 'c': 'Hello'}

20

In [35]:
d

{'b': 20, 'c': 'Hello'}

In [37]:
#functions
print(d['b'])

20

In [ ]:
#to make a dictionary using 2 key-value pairs
# one list for keys, another list for values, then use dict_name=dict(zip(keys,values)), dict() is for typecasting

# Nested Dictionary

In [14]:
d = {'a' : {'b' : {'c' : 10}}, 'e' : 20}
d

{'a': {'b': {'c': 10}}, 'e': 20}

In [15]:
type(d)

dict

In [16]:
print(d)
d.keys()

{'a': {'b': {'c': 10}}, 'e': 20}

dict_keys(['a', 'e'])

In [17]:
print(d)
d.values()

{'a': {'b': {'c': 10}}, 'e': 20}

dict_values([{'b': {'c': 10}}, 20])

In [18]:
d

{'a': {'b': {'c': 10}}, 'e': 20}

In [19]:
d['c']

KeyError: 'c'

In [20]:
d['a']['b']['c'], d['e']

(10, 20)

In [ ]:
# 1. Create a dictionary with keys and values
# 2. Add a new key with KEY NAME as 'new_key' and VALUE as 'This_is_ a_new_key'
# 3. Delete 'new_key'
# 4. Acccess all the keys in the created dictionary
# 5. Access all the values in the created dictionary
# 6. Create an empty dictionary as d
# 7 .Create the following variables in the dictionary d
#     d['animal'] = ['Dog','cat']
#     d['animal1'] = 'Dog'
#     d['animal2'] = 'Dog','cat'
#     d['answer'] = 42
# 8. Access the value 'Dog' in the key 'animal'

In [ ]:
d = {'b': 20, 'd': 20, 'c': 'string', 'f': 24}
d['new_key'] = 'This_is_ a_new_key'
d.pop('new_key') or d.popitem()
d.keys()
d.values()
d = {}
d['animal'] = ['Dog','cat']
d['animal1'] = 'Dog'
d['animal2'] = 'Dog','cat'
d['answer'] = 42
d['animal'][0]

In [39]:
#nested dictionary,with nested list as one more value
city={"High Court":9876541234,"shopping mall":['PVR','City Center'],"resturaunts":{'chinese':'yochina','Indian':['BBQ','Kasturi']}}
print(city)
print(city["resturaunts"]['Indian'][1])

{'High Court': 9876541234, 'shopping mall': ['PVR', 'City Center'], 'resturaunts': {'chinese': 'yochina', 'Indian': ['BBQ', 'Kasturi']}}
Kasturi

# Tuple

In [ ]:
#ordered,immutable, paranthesis

In [8]:
# ()
# Immutable
a = (1,2,'Hello') 
print(a)
type(a)
t=(a,25)
print(t[0][2])

(1, 2, 'Hello')
Hello

In [2]:
a[0], a[-1]

(1, 'Hello')

In [3]:
a[0:2]

(1, 2)

In [4]:
a[0] = 20

TypeError: 'tuple' object does not support item assignment

In [5]:
a.count(1)

1

In [6]:
a.index('Hello')# value, returns the lowest index of the object

2

# Set

In [9]:
a = [1,2,3,4,5,4,3,1,2,3,4,6,7,8,5,4,2,1,10,3,5,2,1]
set(a) # unique values, not ordered, convert list to set

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [10]:
b = set(a)
print(b)
type(b)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

set

In [11]:
a = {1,2,3,4,5,6, 'string'}
b = {1,2,3,4,5,6,7,8,9}
a,b

({1, 2, 3, 4, 5, 6, 'string'}, {1, 2, 3, 4, 5, 6, 7, 8, 9})

In [12]:
print(a),print(b)
set(a) - set(b) # Values present in set a but not in set b

{1, 2, 3, 4, 5, 6, 'string'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

{'string'}

In [13]:
print(a),print(b)
set(b) - set(a) # Values present in set b but not in set a

{1, 2, 3, 4, 5, 6, 'string'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

{7, 8, 9}

In [14]:
print(a),print(b)
a.intersection(b), b.intersection(a) # Common values in sets

{1, 2, 3, 4, 5, 6, 'string'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

({1, 2, 3, 4, 5, 6}, {1, 2, 3, 4, 5, 6})

In [21]:
a.union(b), b.union(a) # Combination of both set values(unique values)
# all that is possible in venn diagram is possible here also
# These are some of the widely used methods in set
a.issubset(a)

True

In [16]:
x = set()
x

set()

In [17]:
x.add(1)
x

{1}

In [18]:
x.add(2)
x

{1, 2}

In [19]:
x.add(1)
x

{1, 2}

# Boolean

#### Recap

In [ ]:
a = '1234'
a.isdigit()


# True, False 
# These are called boolean values

# > ---> Greater than
# < ---> Less than
# >= ---> Greater than or equal to
# <= ---> Less than or equal to
# == ---> Equal to
# != ---> Not equal to

In [ ]:
10 > 20, 20 < 30, 1 == 1

# Chained Comparison Operator

In [ ]:
# and ---> return true only when all the given conditions are true
#             else it return false
# or ---> return true if  any one of the given conditions are true
#             if all the conditions are False then it return False

In [ ]:
10 > 5 > 3

In [ ]:
10 > 5 and 5 > 3
#  T         T

In [ ]:
10 > 5 and 3 > 3
#  T         F

In [ ]:
10 > 5 or 3 > 3
#  T        F

In [ ]:
10 < 5 or 3 > 3
#  F        F

# [PRACTICE QUIZ](https://pynative.com/python-variables-and-data-types-quiz/)

# [ADD ON](https://www.google.com/search?q=data+type+questions+in+python&oq=data+types+ques&aqs=chrome.7.0i457j0j69i57j0l2j0i22i30l3.6473j0j7&sourceid=chrome&ie=UTF-8)