# Dictionary practice

In [1]:
dict2={1:25,2:'Hello',3:'Python'} #the keys and values can be heterogenous data types, but try
dict2[1] #avoiding numbers for keys

25

In [2]:
dict2[1]=45 #mutable, hence permanent change
dict2

{1: 45, 2: 'Hello', 3: 'Python'}

In [3]:
dict2[3]=dict2[3].upper() # without this type of syntax,no change occurs,now this is permanent
dict2

{1: 45, 2: 'Hello', 3: 'PYTHON'}

In [4]:
d={'a1':'Airways'}
d.update(a2='Railways',a3='Waterways')#avoid use of numericals to assign keys,& no '' for the keys
d

{'a1': 'Airways', 'a2': 'Railways', 'a3': 'Waterways'}

In [5]:
d.keys()

dict_keys(['a1', 'a2', 'a3'])

In [6]:
d.values()

dict_values(['Airways', 'Railways', 'Waterways'])

In [7]:
d.items() # output is comma-separated key-value pairs

dict_items([('a1', 'Airways'), ('a2', 'Railways'), ('a3', 'Waterways')])

In [8]:
dict2.pop(1)
dict2

{2: 'Hello', 3: 'PYTHON'}

In [9]:
d.popitem()
d

{'a1': 'Airways', 'a2': 'Railways'}

In [10]:
dict1={'d1':{'d2':'Apple'}, 'd3':'Banana'} #nested list
dict1.keys()

dict_keys(['d1', 'd3'])

In [11]:
dict1.values()

dict_values([{'d2': 'Apple'}, 'Banana'])

In [12]:
dict1['d1']['d2']

'Apple'

In [13]:
dict1.get('d1')

{'d2': 'Apple'}

Assignment answers (only)

In [14]:
d={}
d['animal'] = ['Dog','cat']
d['animal1']='Dog'
d['animal2']='Dog','cat'
d['answer']=42
d

{'animal': ['Dog', 'cat'],
 'animal1': 'Dog',
 'animal2': ('Dog', 'cat'),
 'answer': 42}

In [30]:
d.update(new_key='This_is_a_new_key')
d

{'animal': ['Dog', 'cat'],
 'animal1': 'Dog',
 'animal2': ('Dog', 'cat'),
 'answer': 42,
 'new_key': 'This_is_a_new_key'}

In [31]:
d.pop('new_key') #returns what is getting popped out

'This_is_a_new_key'

In [17]:
d['animal'][0]

'Dog'

# Tuple practice

In [18]:
mytuple1=1,2,3
mytuple2=(1,2,3)
print(mytuple1, mytuple2) #hence, both are equivalent

(1, 2, 3) (1, 2, 3)

In [19]:
t1=(10,25,'Hello',45,0,[10,20,30])
t1[0:3] #all slicing operations are valid and follow ame rules

(10, 25, 'Hello')

In [20]:
t1 #hence immutable

(10, 25, 'Hello', 45, 0, [10, 20, 30])

In [21]:
t1[-1].pop(2) #value '30' in the list, nested inside the tuple was removed, so even if a tuple is
t1            #immutable, the elements inside the tuple can change, we can't reassign any tuple 
              #element itself,but we can reassign any element inside the list/string inside tuple

(10, 25, 'Hello', 45, 0, [10, 20])

In [22]:
print(t1.count('Hello')) #only count() and index('') exist
print(t1.index('Hello'))

1
2

In [23]:
b=list(t1)
b

[10, 25, 'Hello', 45, 0, [10, 20]]

In [24]:
b.extend(['World',99])
b

[10, 25, 'Hello', 45, 0, [10, 20], 'World', 99]

In [25]:
t1=tuple(b) #we got the tuple back, hence to perform any operation, we need to convert it to list 
t1

(10, 25, 'Hello', 45, 0, [10, 20], 'World', 99)

In [26]:
t2=(34,54,6476,32) #concatenation is done just by + operator
t3=t1+t2
t3

(10, 25, 'Hello', 45, 0, [10, 20], 'World', 99, 34, 54, 6476, 32)

In [27]:
del t3 #hence deleted
t3

NameError: name 't3' is not defined

# Set practice

In [32]:
s1={1,2,3,4,5,5,6,7,7,8,9} 
s1 #returns unique elements only

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [33]:
s2={10,2,3,4,99,9}

In [34]:
s1.intersection(s2)

{2, 3, 4, 9}

In [35]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99}

In [36]:
s2.issuperset(s1) #such common operations are very much valid

False

In [37]:
s2.pop() # popping from L-R direction

2

In [38]:
s2

{3, 4, 9, 10, 99}

In [39]:
x=set() # no other brackets and add the elements one at a time
x.add(45)
x.add(455)
x

{45, 455}

In [40]:
set1={32,42,56,'String',45}
set1

{32, 42, 45, 56, 'String'}

In [41]:
set1.discard('String')
print(set1)

{32, 56, 42, 45}

In [42]:
set1.update(['String'])

In [43]:
set1

{32, 42, 45, 56, 'String'}

In [44]:
set1.remove('String')
set1 # hence, better to not use remove(), stick to discard()

{32, 42, 45, 56}

In [45]:
set2=frozenset(set1)
set2

frozenset({32, 42, 45, 56})

In [46]:
set2.update(45) # hence set2 viz the frozen form of set1 in immutable

AttributeError: 'frozenset' object has no attribute 'update'

In [47]:
set3={10,20,30}
set3[:-2]

TypeError: 'set' object is not subscriptable