In [1]:
name='my name is Veera' #case sensitive 
name
print(name)

my name is Veera

In [2]:
(2+3)*5
# 2**4
5*'Veera '
# 'Veera'+' Elluru'

'Veera Veera Veera Veera Veera '

In [3]:
a=5.455
b=True
c='a'
print(type(a),type(b),type(c))

<class 'float'> <class 'bool'> <class 'str'>

In [4]:
# to check address of a variable
x=275
y=375
print("both are not same because "+ str(id(x))+" "+str(id(y)))
#str is explicit typecasting it to string

both are not same because 2992834414480 2992834413968

In [5]:
"""
in python, dir() returns all usable attributes for any object
"""
t=89
dir(t)
# help(t)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [6]:
Num=50
Num1='53'
print("This is a number",Num)
print("This is a string",Num1)
print(Num+int(Num1))
print(str(Num)+Num1)

This is a number 50
This is a string 53
103
5053

In [7]:
#to print a one raw string, which includes \n etc
print(r"veera\notes")

veera\notes

In [8]:
#deleting a variable
w=7
print(w)
del w
w+=3
print(w)
print('hi')

7

NameError: name 'w' is not defined

F Strings

In [ ]:
name='Veera'
Age=18
print(f'My name is: {name}, and my age is {Age}') # or use format function:
                                                  # print('My name is {}, and my age is {}'.format(name,Age))
                                                  #index based format specifying, or reference based format function also exist

In [ ]:
ord('A') # to get ASCII value of A

In [ ]:
a=45
b=16
a//b #truncation, to take only integer value
a/b # gives us a float value

# List #

-heterogeneous set of data
-can be mutable
-name=[] type of initialisation

# Short hand if #

In [ ]:
b=3
print('hello') if b==2 else print("hi")
#body of if to left, body of else to the right

In [ ]:
b=3
a=2
print('hello') if(b==2) else print("hi") if(a==b) else print("welcome")
                             #body of first else                      #

# Loops #

In [ ]:
#for, while

In [ ]:
v_r=range(10)
for a in v_r: # in is an *operator*
    print(a) # from 0 to 9, returns a range object
    print(type(a))
print(list(v_r))
print("Hi")

In [ ]:
v_r=range(5,11)
print(list(v_r))

In [ ]:
name="AAA"
for a in name: #for each collection, it is an iterator, similarly strings are iterable objects
    print("{} Hi".format(a))
# name=123
# for a in name: not possible for int because it isnt iterable
#     print("{} Hi".format(a))

In [ ]:
for a in range(5):
    print("{} ".format(v_r[a]))

In [ ]:
#for dictionary, iterate thru dict.keys
data={1: 'veera', 2: 'hello',3:'IITJ'}
for i in data.values():
    print(i)

# Functions #

In [ ]:
def sum_of_two_numbers(a,b):
    c=a+b
    print("the sum is",c)
t=sum_of_two_numbers(int(input('First Number: ')),int(input('Second Number: ')))
print(t) #importanttttt

In [ ]:
def sum_of_two_numbers(a,b):
    c=a+b
    return c
t=sum_of_two_numbers(int(input('First Number: ')),int(input('Second Number: ')))
print(t)

In [ ]:
# we can define functions inside ither function definitions
def out():
    print("out")
    def inside():
        print("in");
    inside()
out()
# inside() #not visible/ directly callable/ out of scope

# OOPS #

In [ ]:
""" 
 Class has properties, behaviour, sets the template for all objects
 variable/attributes Ex: humans have 2 legs represented by variables
 behaviour/methods Ex: Teacher teaches is represented by functions
 
 A class is basically similar to a structure, we can have methods and variables here in one class, that is it represents 
the entire object. An object is a live copy of the class, live in the sense that it has memory allocated.

 First step is to design a class, then look around for properties, and functionings; properties are same, exact value
in an object is different

"""

In [ ]:
#Example
class computer:
    def config(self): #
        print("i5 16GB 1TB")
    
c1=computer(); #impp, making an object of computer class, we have used (), eventhough it is a class, semicolon is imp1
# This is a "constructor", like a function, but actually a class, entire object c1 is made in memory, which has template of
# class computer. When we assign the function like this, we are basically creating a object

In [ ]:
"""
 Constructors are like special functions, its main role is to create an object and *intialize* the attributes,
 To call the method inside the class, we need to use the object.
"""

In [ ]:
c1.config()

In [ ]:
class student:
    def __init__(self,name,roll,marks):
        self.name=name
        self.roll=roll
        self.marks=marks
    def print_data(self):
        print("The student's name is ",self.name)
        print("The student's roll is ",self.roll)
        print("The student has obtained ",self.marks)

In [ ]:
"""
__init__ is a sepcial method,the actual reason why c1=computer() makes sense, initialize the variables/attributes
self.something are the attributes, therefore for stud1 memory space, we have 2 parts, one part has name, roll, marks, 
the other part contains print_data
in __init__, we have defined 4 parameters, but when calling the constructor we have 3 arguments
without init, we aren't initialising, we are only creating the object, we can't give diff values of attributes
"""

In [ ]:
stud1=student("veera",1,95)
# when we call the student, we are calling __init__ constructor
# at this step, object is made, and at the same time the attributes are initialised
stud1.print_data()

In [ ]:
"""
self.something is to mention to the interpreter that we are assigning something into object's attributes, and that it is 
NOT a temporary variable,
"""

In [ ]:
print_data()

In [27]:
class student:
    def __init__(self):
        self.name='veera'
        self.roll=3
    def update(self):
            self.roll=36
    def compare(self,obj1): #we need to define a method separately inside the class to be able to compare anything,
                            #as we can't do it directly in the if condition
        print("True") if self.roll==obj1.roll else print("False")

In [28]:
s1=student()
s2=student()

s1.update() #for s1, the roll has become 36, not 3
if s1.compare(s2):
    print("They are same")
else:
    print("They aren't same")

False
They aren't same

In [ ]:
"""
types of varibles: 2 types
types of methods: 3 types

"""
"""
class variable- shared amongst all variables, similar to static varibles in C
instance variable- customized for each object

"""

In [33]:
class bike:
    wheels=2
    def __init__(self,cc,topspeed):
        self.cc=cc
        self.topspeed=topspeed
    def show_details(self):
            print("my cc is ",self.cc)
            print("my topspeed is ",self.topspeed)
            print("number of wheels is ",self.wheels)

b1=bike(350,120)
b2=bike(300,100)

b1.show_details()
b2.show_details()

b2.cc=150
bike.wheels=3

b1.show_details()
b2.show_details()

my cc is  350
my topspeed is  120
number of wheels is  2
my cc is  300
my topspeed is  100
number of wheels is  2
my cc is  350
my topspeed is  120
number of wheels is  3
my cc is  150
my topspeed is  100
number of wheels is  3

In [36]:
class Student:
    univ='IITJ'
    def __init__(self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3
    def avg(self):
        return (self.m1+self.m2+self.m3)/3
        
s1=Student(34,67,32)
print(s1.avg())
s2=Student(23,40,15)
print(s2.avg())

44.333333333333336
26.0

In [51]:
class Student1:
    def __init__(self,name,rollno,RAM,cpu):
        self.name=name
        self.rollno=rollno
        self.lap=self.Laptop(RAM,cpu)
    def show(self):
        print(self.name,self.rollno,self.lap.RAM,self.lap.cpu) #self.lap.cpu is imp, not self.Laptop.cpu
        
    class Laptop:
        def __init__(self,RAM,cpu):
            self.RAM=RAM
            self.cpu=cpu
        def show(self):
            print(self.RAM,self.cpu)
            
s1=Student1('Veera',5,8,'i5')
s1.show()
lap=Student1.Laptop(8,'i5')
lap.show()

Veera 5 8 i5
8 i5

# Inheritance #

In [18]:
"""
Single level inheritance: parent-child; super-sub
Multi level inheritance: grandparent-->parent-->child
Multiple inheritance: Multiparent class
"""

'\nSingle level inheritance: parent-child; super-sub\nMulti level inheritance: grandparent-->parent-->child\nMultiple inheritance: Multiparent class\n'

In [20]:
class A:
    def property1(self):
        print("I am property 1 from class A")
    def property2(self):
        print("I am property 2 from class A")
        
class B:
    def property3(self):
        print("I am property 3 from class B")
    def property4(self):
        print("I am property 4 from class B")

b=B()
b.property3()
b.property4()
a=A()
a.property1()
a.property2()

I am property 3 from class B
I am property 4 from class B
I am property 1 from class A
I am property 2 from class A

## Single level Inheritance ##
- import all properties from parent to child

In [61]:
class A:
    def __init__(self):
        print("In A's constructor")
    def property1(self):
        print("I am property 1 from class A")
    def property2(self):
        print("I am property 2 from class A")
        
class B(A): #A is the super class
    def __init__(self):
        super().__init__()                    #super() is imp, it's a library method being used
        super().property1()
        print("In B's constructor")
    def property3(self):
        print("I am property 3 from class B")
    def property4(self):
        print("I am property 4 from class B")

a1=A()
b1=B()
b1.property2()
b1.property3()
b1.property4()

In A's constructor
In A's constructor
I am property 1 from class A
In B's constructor
I am property 2 from class A
I am property 3 from class B
I am property 4 from class B

In [70]:
class trainee:
    def __init__(self,trainee_id):
        self.trainee_id=trainee_id
    def show_T(self):
        print("Details of trainee: ",self.trainee_id)
        
class manager(trainee):
    def __init__(self,manager_id,t_id):
        self.manager_id=manager_id
        super().__init__(t_id)
    def show_M(self):
        print("Details of manager: {} and trainee: {}".format(self.manager_id,self.trainee_id))
    
t1=trainee(1234)
m1=manager(1,1233)

t1.show_T()
m1.show_M()

Details of trainee:  1234
Details of manager: 1 and trainee: 1233

## MultiLevel Inheritance ##
- all properties of grandparents and parents

In [87]:
class trainee:
    def __init__(self,trainee_id):
        self.trainee_id=trainee_id
    def show_T(self):
        print("Details of trainee: ",self.trainee_id)
        
class manager(trainee):
    def __init__(self,manager_id,t_id):
        self.manager_id=manager_id
        super().__init__(t_id)
    def show_M(self):
        print("Details of manager: {} and trainee: {}".format(self.manager_id,self.trainee_id))
        
class director(manager):
    def __init__(self,director_id,m_id,t_id1):
        self.director_id=director_id
        super().__init__(m_id,t_id1)
    def show_D(self):
        print("Details of dircetor: {} manager: {} and trainee: {}".format(self.director_id,self.manager_id,self.trainee_id))

t1=trainee(123)
m1=manager(12,123)
d1=director(1,12,123)
d1.show_D()

Details of dircetor: 1 manager: 12 and trainee: 123

In [110]:
class trainee:
    def __init__(self,trainee_id):
        self.trainee_id=trainee_id
    def show_T(self):
        print("Details of trainee: ",self.trainee_id)
        
class manager:
    def __init__(self,manager_id):
        self.manager_id=manager_id
    def show_M(self):
        print("Details of manager: {} and trainee: {}".format(self.manager_id,self.trainee_id))
        
class director(manager,trainee):
    def __init__(self,director_id,m_id,t_id1):
        self.director_id=director_id
        super().__init__(t_id1)
    def show_D(self):
        print("Details of dircetor: {} manager: {} and trainee: {}".format(self.director_id,self.manager_id,self.trainee_id))

t1=trainee(123)
m1=manager(12)
d1=director(1,12,1234)
d1.show_M()

AttributeError: 'director' object has no attribute 'trainee_id'