In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.neighbors import KNeighborsClassifier  #for KNN
from sklearn.preprocessing import StandardScaler    #for KNN
from sklearn.tree import DecisionTreeClassifier     #for Decision Tree
from sklearn.ensemble import RandomForestClassifier #for Random Forest
from sklearn.linear_model import LogisticRegression #for Logistic Regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [2]:
df=pd.read_csv('Diabetes data.txt')

In [3]:
df1=df.copy()

In [4]:
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
df2=df1.drop('Outcome',axis=1)
for column in df2:
    Mean=df2[column].mean()
    df2[column]=df2[column].replace(0,Mean)
df1['Outcome']=df1['Outcome'].replace(Mean,0)
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df1.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
X=df1[df1.columns[0:-1]] # independent variable
Y=df1[df1.columns[-1]] # dependent variable

In [8]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=99)

In [9]:
#Modelling using desicion tree
tree=DecisionTreeClassifier(criterion='gini')
tree.fit(X_train,Y_train)
Y_pred=tree.predict(X_test)

In [10]:
Y_pred

array([0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
      dtype=int64)

In [11]:
confusion_matrix(Y_test,Y_pred)

array([[78, 27],
       [21, 28]], dtype=int64)

In [12]:
accuracy_score(Y_test,Y_pred)

0.6883116883116883

In [13]:
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.79      0.74      0.76       105
           1       0.51      0.57      0.54        49

    accuracy                           0.69       154
   macro avg       0.65      0.66      0.65       154
weighted avg       0.70      0.69      0.69       154

In [14]:
(len(df1))**0.5

27.712812921102035

In [15]:
#Modelling using KNN
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)


knn=KNeighborsClassifier(n_neighbors=27,metric='euclidean')
knn.fit(X_train,Y_train)
Y_pred2=knn.predict(X_test)

In [16]:
accuracy_score(Y_test,Y_pred2) #KNN is better than Decision Tree

0.7727272727272727

In [17]:
#Modelling using RandomForest
rf=RandomForestClassifier()
rf.fit(X_train,Y_train)
Y_pred3=rf.predict(X_test)

In [18]:
accuracy_score(Y_test,Y_pred3)

0.7402597402597403

In [19]:
#Modelling using Logistic Regression
log_reg=LogisticRegression()
log_reg.fit(X_train,Y_train)
Y_pred4=log_reg.predict(X_test)

In [20]:
accuracy_score(Y_test,Y_pred4)

0.8051948051948052

In [21]:
# Conclusion --> Logistic Regression > KNN > RF > Decision Tree