# Resources

## <center>Data Aggregation and Data Wrangling </center>

* [1](https://www.kdnuggets.com/2017/06/7-steps-mastering-data-preparation-python.html)
* [2](https://data-flair.training/blogs/data-wrangling-with-python/)
* [3](https://www.analyticsvidhya.com/blog/2014/09/data-munging-python-using-pandas-baby-steps-python/)
* [4](https://towardsdatascience.com/data-wrangling-with-pandas-5b0be151df4e)

# <center>Introduction to Pandas</center>

![](https://pandas.pydata.org/_static/pandas_logo.png)

>pandas is an open source, BSD-licensed library providing **high-performance**, **easy-to-use data structures** and **data analysis tools** for the Python programming language.  Pandas stands for “Python Data Analysis Library”. According to the Wikipedia page on Pandas, “the name is derived from the term “panel data”, an econometrics term for multidimensional structured data sets.” 

## Why use Pandas?

What’s cool about Pandas is that it takes data (like a CSV or TSV file, or a SQL database) and creates a Python object with rows and columns called **data frame** that looks very similar to table in a statistical software (think Excel). This is so much easier to work with in comparison to working with lists and/or dictionaries through for loops or list comprehension!

![](https://i.imgur.com/qYpNL3O.png)

So, in a way:

# <center>ARRAY + TABLE = PANDAS</center>

![](https://memegenerator.net/img/instances/500x/51740682/you-are-a-python-lover-if-pandas-doesnt-mean-but-httppandaspydataorg.jpg)

## Installation

Simply,
```
pip install pandas
```

In [1]:
# !pip list

In [2]:
# !pip install pandas

# Reading data from a CSV file

You can read data from a CSV file using the ``read_csv`` function. By default, it assumes that the fields are comma-separated.

In [2]:
import pandas as pd # pa, p
# import numpy as np

In [4]:
# Series---> one column
# Dataframe ---> Many columns

In [5]:
# Navigate to the folder where the file is
# click on the file once
# press shift + right click ---> click on copy as path

"C:\Users\HP\Python\Libraries\Pandas\Diabetes data.txt"
# csv, excel, txt

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3038274792.py, line 5)

In [6]:
a = [1,2,3,4]
# a.clear?
pd.read_csv

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=None, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=None, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression: 'CompressionOptions' = 'infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)>

In [3]:
df=pd.read_csv("Diabetes data.txt")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:
pwd # present working directory

'C:\\Users\\roopa\\Desktop\\Veer_Trainings\\Python, AIML, DS\\AIML'

In [9]:
df.head(2) # Display top 2 values

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [10]:
df.tail(6) # Diplay bottom 6 values

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
len(df) #number of rows

768

In [12]:
type(df)
# DataFrame - It will be having multiple columns
# Series -  It will be having one column

pandas.core.frame.DataFrame

In [13]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [14]:
len(df.columns)

9

In [15]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [17]:
df.describe() # Number columns alone

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [18]:
# variable_name[column_name] gives us the entire isolated column
df['Pregnancies'].describe()

count    768.000000
mean       3.845052
std        3.369578
min        0.000000
25%        1.000000
50%        3.000000
75%        6.000000
max       17.000000
Name: Pregnancies, dtype: float64

In [19]:
df['Pregnancies'].quantile([0.25,0.50,0.75,0.88]) # Pandas

0.25    1.0
0.50    3.0
0.75    6.0
0.88    8.0
Name: Pregnancies, dtype: float64

In [20]:
df.isna().any() # any, all
# isnull()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [21]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [22]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# Understanding Columns

In [23]:
import pandas as pd

In [25]:
# df = pd.read_csv(r"C:\Users\HP\Python\Libraries\Pandas\Diabetes data.txt")

## Selecting columns

When you read a CSV, you get a kind of object called a DataFrame, which is made up of rows and columns. You get columns out of a DataFrame the same way you get elements out of a dictionary.

In [26]:
df.columns #array of column names

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [27]:
# variable_name[column_name]
df['Pregnancies']

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64

In [28]:
df[['Pregnancies', 'Glucose','Age','Outcome']]

     Pregnancies  Glucose  Age  Outcome
0              6      148   50        1
1              1       85   31        0
2              8      183   32        1
3              1       89   21        0
4              0      137   33        1
..           ...      ...  ...      ...
763           10      101   63        0
764            2      122   27        0
765            5      121   30        0
766            1      126   47        1
767            1       93   23        0

[768 rows x 4 columns]

In [29]:
df1 = df[['Pregnancies', 'Glucose','BloodPressure']]

In [30]:
df1.head()

   Pregnancies  Glucose  BloodPressure
0            6      148             72
1            1       85             66
2            8      183             64
3            1       89             66
4            0      137             40

On the inside, the type of a column is ``pd.Series`` and pandas Series are internally numpy arrays. If you add ``.values`` to the end of any Series, you'll get its internal **numpy array**.

In [31]:
sr = df['Pregnancies']
sr

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64

In [32]:
type(sr)

pandas.core.series.Series

In [33]:
# variable_name[index]
sr[763]

10

In [34]:
sr.sum()

2953

In [35]:
sr.mean()

3.8450520833333335

In [36]:
sr.min()

0

In [37]:
sr.max()

17

In [38]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [39]:
# a = 10
# variable_name[column_name] = value
df['Number'] = df['Pregnancies'] * 10
df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Number
0,6,148,72,35,0,33.6,0.627,50,1,60
1,1,85,66,29,0,26.6,0.351,31,0,10
2,8,183,64,0,0,23.3,0.672,32,1,80

In [40]:
df.insert(loc = 0, column = 'Num', value = df['Pregnancies'] * 10)
df.head()

,Num,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Number
0,60,6,148,72,35,0,33.6,0.627,50,1,60
1,10,1,85,66,29,0,26.6,0.351,31,0,10
2,80,8,183,64,0,0,23.3,0.672,32,1,80
3,10,1,89,66,23,94,28.1,0.167,21,0,10
4,0,0,137,40,35,168,43.1,2.288,33,1,0

# Value Counts

Get count of unique values in a particular column/Series.

In [ ]:
# import pandas as pd

In [ ]:
# df = pd.read_csv(r"C:\Users\HP\Python\Libraries\Pandas\Diabetes data.txt")

In [ ]:
df.head()

In [43]:
df['BMI'].unique()

array([33.6, 26.6, 23.3, 28.1, 43.1, 25.6, 31. , 35.3, 30.5,  0. , 37.6,
       38. , 27.1, 30.1, 25.8, 30. , 45.8, 29.6, 43.3, 34.6, 39.3, 35.4,
       39.8, 29. , 36.6, 31.1, 39.4, 23.2, 22.2, 34.1, 36. , 31.6, 24.8,
       19.9, 27.6, 24. , 33.2, 32.9, 38.2, 37.1, 34. , 40.2, 22.7, 45.4,
       27.4, 42. , 29.7, 28. , 39.1, 19.4, 24.2, 24.4, 33.7, 34.7, 23. ,
       37.7, 46.8, 40.5, 41.5, 25. , 25.4, 32.8, 32.5, 42.7, 19.6, 28.9,
       28.6, 43.4, 35.1, 32. , 24.7, 32.6, 43.2, 22.4, 29.3, 24.6, 48.8,
       32.4, 38.5, 26.5, 19.1, 46.7, 23.8, 33.9, 20.4, 28.7, 49.7, 39. ,
       26.1, 22.5, 39.6, 29.5, 34.3, 37.4, 33.3, 31.2, 28.2, 53.2, 34.2,
       26.8, 55. , 42.9, 34.5, 27.9, 38.3, 21.1, 33.8, 30.8, 36.9, 39.5,
       27.3, 21.9, 40.6, 47.9, 50. , 25.2, 40.9, 37.2, 44.2, 29.9, 31.9,
       28.4, 43.5, 32.7, 67.1, 45. , 34.9, 27.7, 35.9, 22.6, 33.1, 30.4,
       52.3, 24.3, 22.9, 34.8, 30.9, 40.1, 23.9, 37.5, 35.5, 42.8, 42.6,
       41.8, 35.8, 37.8, 28.8, 23.6, 35.7, 36.7, 45.2, 44. , 46.2, 35. ,
       43.6, 44.1, 18.4, 29.2, 25.9, 32.1, 36.3, 40. , 25.1, 27.5, 45.6,
       27.8, 24.9, 25.3, 37.9, 27. , 26. , 38.7, 20.8, 36.1, 30.7, 32.3,
       52.9, 21. , 39.7, 25.5, 26.2, 19.3, 38.1, 23.5, 45.5, 23.1, 39.9,
       36.8, 21.8, 41. , 42.2, 34.4, 27.2, 36.5, 29.8, 39.2, 38.4, 36.2,
       48.3, 20. , 22.3, 45.7, 23.7, 22.1, 42.1, 42.4, 18.2, 26.4, 45.3,
       37. , 24.5, 32.2, 59.4, 21.2, 26.7, 30.2, 46.1, 41.3, 38.8, 35.2,
       42.3, 40.7, 46.5, 33.5, 37.3, 30.3, 26.3, 21.7, 36.4, 28.5, 26.9,
       38.6, 31.3, 19.5, 20.1, 40.8, 23.4, 28.3, 38.9, 57.3, 35.6, 49.6,
       44.6, 24.1, 44.5, 41.2, 49.3, 46.3])

In [44]:
df['BMI'].nunique()

248

In [45]:
len(df)

768

In [46]:
df['BMI'].value_counts()

32.0    13
31.6    12
31.2    12
0.0     11
32.4    10
        ..
36.7     1
41.8     1
42.6     1
42.8     1
46.3     1
Name: BMI, Length: 248, dtype: int64

In [47]:
df['Age'].value_counts()

22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
38    16
36    16
32    16
45    15
34    14
46    13
43    13
40    13
39    12
35    10
50     8
51     8
52     8
44     8
58     7
47     6
54     6
49     5
48     5
57     5
53     5
60     5
66     4
63     4
62     4
55     4
67     3
56     3
59     3
65     3
69     2
61     2
72     1
81     1
64     1
70     1
68     1
Name: Age, dtype: int64

In [48]:
gc = df['Pregnancies'].value_counts()
gc

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnancies, dtype: int64

# Index and Indexing

## Index

### DATAFRAME = COLUMNS + INDEX + ND DATA

### SERIES = INDEX + 1-D DATA

**Index** or (**row labels**) is one of the fundamental data structure of pandas. It can be thought of as an **immutable array** and an **ordered set**.

> Every row is uniquely identified by its index value.

In [ ]:
# import pandas as pd

In [ ]:
# df = pd.read_csv(r"C:\Users\HP\Python\Libraries\Pandas\Diabetes data.txt")

In [ ]:
df.columns

In [ ]:
a = [1,2,3,4]
#variable_name[index]
a[0]

In [ ]:
df.head(2)

In [ ]:
df[0]

In [ ]:
df['Outcome']

In [ ]:
df.head(1)

In [ ]:
df.iloc[0] # interger location

In [ ]:
df.iloc[[0,200,555,100,2,3,4,5]]

## Slicing of dataframe

In [ ]:
df.head(1)

In [ ]:
# variable_name[start_index : end_index]
df[0:4] # end index - 1 ---> 4 - 1 = 3

In [ ]:
# df.iloc[rows,columns]
df.iloc[0:4,0:3] # 0:4 ---> 0 - 3, taken in row, 0:3 ---> 0 - 2, taken in column

In [ ]:
df.iloc[[0,4],[3,7]]

In [ ]:
df.iloc[0:6,1:4]

In [ ]:
sr = df['Pregnancies'] # series
sr

In [ ]:
sr[763]

In [ ]:
sr[0:4]

# Filtering rows by column values

In [ ]:
# import pandas as pd
df = pd.read_csv(r"C:\Users\HP\Python\Libraries\Pandas\Diabetes data.txt")

In [ ]:
df.head(3)

and (&) ---> checks whether both the conditions are true, then only it return true else it return false, use in the ampessand notation only

or(|) ---> checks whether one of the conditions is true, then only it return true if both the conditions are false it return false, use in the straight slash notation only

In [4]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [5]:
df['Outcome'].unique()

array([1, 0], dtype=int64)

In [6]:
df['Outcome'] == 0

0      False
1       True
2      False
3       True
4      False
       ...
763     True
764     True
765     True
766    False
767     True
Name: Outcome, Length: 768, dtype: bool

In [ ]:
# variable_name[condition]
df[df['Outcome'] == 0]

In [ ]:
df.head(1)

In [ ]:
df['Pregnancies'] > 5

In [ ]:
df[df['Pregnancies'] > 5]

In [8]:
# variable_name[condition]
df[(df['Outcome'] == 1) & (df['Pregnancies'] > 5)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
9,8,125,96,0,0,0.0,0.232,54,1
11,10,168,74,0,0,38.0,0.537,34,1
15,7,100,0,0,0,30.0,0.484,32,1
...,...,...,...,...,...,...,...,...,...
743,9,140,94,0,0,32.7,0.734,45,1
749,6,162,62,0,0,24.3,0.178,50,1
754,8,154,78,32,0,32.4,0.443,45,1
759,6,190,92,0,0,35.5,0.278,66,1
761,9,170,74,31,0,44.0,0.403,43,1

In [7]:
df[(df['Outcome'] == 0) | (df['Pregnancies'] > 5)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
5,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
767,1,93,70,31,0,30.4,0.315,23,0

# Deleting rows and columns

In [ ]:
# import pandas as pd

In [13]:
imdb_df = pd.read_csv("imdb_1000.csv")

In [10]:
bikes_df = pd.read_csv("bikes.csv",sep=';')

In [11]:
bikes_df.head(4)

,Date,Unnamed: 1,Rachel / Papineau,Berri1,Maisonneuve_2,Maisonneuve_1,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
0,01/01/2012,00:00,16,35,51,38,5.0,26,10,0,27.0
1,02/01/2012,00:00,43,83,153,68,11.0,53,6,1,21.0
2,03/01/2012,00:00,58,135,248,104,2.0,89,3,2,15.0
3,04/01/2012,00:00,61,144,318,116,2.0,111,8,1,19.0

# Deleting columns

In [12]:
bikes_df.columns

Index(['Date', 'Unnamed: 1', 'Rachel / Papineau', 'Berri1', 'Maisonneuve_2',
       'Maisonneuve_1', 'Brébeuf', 'Parc', 'PierDup',
       'CSC (Côte Sainte-Catherine)', 'Pont_Jacques_Cartier'],
      dtype='object')

In [ ]:
# While deleting a column ---> variable_name.drop(column_name, axis = 1)
bikes_df.drop('Unnamed: 1', axis = 1)
# axis = 1 ---> left to right ---> Columns
# axis = 0 ---> top to bottom ---> rows

In [14]:
bikes_df.columns

Index(['Date', 'Unnamed: 1', 'Rachel / Papineau', 'Berri1', 'Maisonneuve_2',
       'Maisonneuve_1', 'Brébeuf', 'Parc', 'PierDup',
       'CSC (Côte Sainte-Catherine)', 'Pont_Jacques_Cartier'],
      dtype='object')

In [15]:
bikes_df = bikes_df.drop('Unnamed: 1', axis=1)

In [16]:
bikes_df.columns

Index(['Date', 'Rachel / Papineau', 'Berri1', 'Maisonneuve_2', 'Maisonneuve_1',
       'Brébeuf', 'Parc', 'PierDup', 'CSC (Côte Sainte-Catherine)',
       'Pont_Jacques_Cartier'],
      dtype='object')

In [17]:
bikes_df.drop('Berri1', axis=1, inplace=True) #or just use del bikes_df['Berril']

In [18]:
bikes_df.columns

Index(['Date', 'Rachel / Papineau', 'Maisonneuve_2', 'Maisonneuve_1',
       'Brébeuf', 'Parc', 'PierDup', 'CSC (Côte Sainte-Catherine)',
       'Pont_Jacques_Cartier'],
      dtype='object')

In [19]:
bikes_df.columns[[0,1,2]]

Index(['Date', 'Rachel / Papineau', 'Maisonneuve_2'], dtype='object')

In [20]:
# bikes_df.drop(bikes_df.columns[[0,1,2]], axis=1, inplace=True)

In [21]:
bikes_df.drop(['Rachel / Papineau', 'Maisonneuve_2', 'Maisonneuve_1'], axis=1, inplace=True)

In [22]:
bikes_df.head()

,Date,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
0,01/01/2012,5.0,26,10,0,27.0
1,02/01/2012,11.0,53,6,1,21.0
2,03/01/2012,2.0,89,3,2,15.0
3,04/01/2012,2.0,111,8,1,19.0
4,05/01/2012,6.0,97,13,2,16.0

# Removing rows

In [ ]:
imdb_df.head()

In [ ]:
imdb_df.drop(1, inplace=True) # axis = 0 --- default

In [ ]:
imdb_df.head(3)

In [ ]:
imdb_df.drop([3,4,5,6,7,102,103,104,110], inplace=True)

In [ ]:
imdb_df.head()

# Group By

Any groupby operation involves one of the following operations on the original object. They are −

- Splitting the Object

- Applying a function

- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

- **Aggregation** − computing a summary statistic

- **Transformation** − perform some group-specific operation

- **Filtration** − discarding the data with some condition

![](https://i.stack.imgur.com/sgCn1.jpg)

In [2]:
# import pandas as pd

In [3]:
imdb_df = pd.read_csv("imdb_1000.csv")

In [4]:
imdb_df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [56]:
groups = imdb_df.groupby('content_rating')

In [25]:
imdb_df['content_rating'].unique()

array(['R', 'PG-13', 'NOT RATED', 'PG', 'UNRATED', 'APPROVED', 'PASSED',
       'G', 'X', nan, 'TV-MA', 'GP', 'NC-17'], dtype=object)

In [57]:
groups.get_group('PG-13')

,star_rating,title,content_rating,genre,duration,actors_list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
...,...,...,...,...,...,...
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."

In [ ]:
groups = imdb_df.groupby(['content_rating','genre'])

In [ ]:
imdb_df['genre'].unique()

In [ ]:
imdb_df['content_rating'].unique()

In [ ]:
groups.get_group(('R','Drama'))

In [13]:
genre_groups = imdb_df.groupby(['content_rating','genre'])
genre_groups

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E07B86B400>

In [ ]:
genre_groups.aggregate('mean').sort_values('duration', ascending = False)

# Correlation

In [7]:
# import pandas as pd
df = pd.read_csv("Diabetes data.txt")

In [8]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [9]:
df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [10]:
imdb_df.head(2)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

In [11]:
imdb_df.corr()

             star_rating  duration
star_rating     1.000000  0.227149
duration        0.227149  1.000000

In [ ]:
g = lambda x : x.upper()
# lambda variable_name : operation

In [ ]:
imdb_df['title'] = imdb_df['title'].apply(g)
imdb_df.head(5)

# Questions

In [ ]:
# 1. open the nba dataset using pandas
# 2. perform normal operations like head, tail, len, info, describe, 
# value_count etc.,
# 3. Filter height that are greater than 5
# 4. Filter weight that are greater than 50
# 5. Filter height that are greater than 6 and weight that are greater than 60
# 6. Filter height that are greater than 6 or weight that are greater than 60
# 7. Filter salary that are greater than 50000
# 8. Filter height greater than 6 and weight greater than 60 or 
# salary greater than 40000
# 9. Groupby Team and use get_group to fetch Boston Celtics
# 10. Groupby College and use get_group to fetch Texas

In [3]:
# import pandas as pd

# df = pd.read_csv(r"C:\Users\HP\Python\Libraries\Pandas\nba.csv")
# df

# df[df['Height'] > '5']

# df[df['Weight'] > 50]

# df[(df['Height'] > '6') & (df['Weight'] > 60)]

# df[(df['Height'] > '6') | (df['Weight'] > 60)]

# df[df['Salary'] > 50000]

# df[((df['Height'] > '6') & (df['Weight'] > 60)) | (df['Salary'] > 50000)]

# groups = df.groupby('College')

# groups.get_group('Texas')